
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="main" data-github-get-results-url=@Url.Action("GetDataFromGithub", "Github") data-github-save-result-url=@Url.Action("SaveDataRepository", "Github")>GitHub Repositories Search</h2>
<input class="form-control" type="text" id="GitTextForSearch" placeholder="Looking for something?" />
<button id="GitBtnSearch" class="btn btn-default">Search</button>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="repositoriesResults">
    </tbody>
</table>
